/* CSS Document */

  body {margin-top: 20px; margin-bottom: 0px; margin-left: 20px; font-family: arial,helvetica,sans-serif }
  
  
/* General Text Font */
  A:link {color:#000000; text-decoration:none}
  A:visited {color: #000000; text-decoration:none}
  A:hover {color: #FF6600; text-decoration:underline}

   p {font-size: 12px;  color:#000000}
  ul {font-size: 12px; color:#000000}
  ol {font-size: 12px; color:#000000}
  li {font-size: 12px; color:#000000}
  td {font-size: 12px; color: #000099}
 pre {font-size: 12px}
 
 h1 { font-size: 14px; color:#000099 }
 h2 { font-size: 16px; color:#000099; letter-spacing: 3px }
 h3 { font-size: 18px; color:#000000 }
 h4 { font-size: 20px; color:#000099 }
 h5 { font-size: 12px; color:#000000; letter-spacing: 2px }
 h6 { font-size: 14px; color:#000000; letter-spacing: 3px;  }


/* Main Txt */

	div.content { padding: 10px 10px 10px 10px; }
	p.main {  font-size: 13px; color: #000000; line-height: 150%; }

  A.main2:link { font-size: 13px; color: #000099; font-weight: bold; text-decoration:none }
  A.main2:visited { font-size: 13px; color: #000099; font-weight: bold; text-decoration:none }
  A.main2:hover { font-size: 13px; color: #FF6600; font-weight: bold; text-decoration:underline }
  
  
/* Footer Txt */

	div.footer { font-size: 12px; color: #000000; line-height: 130%; width: 90%; }
  
  	A.footer:link { font-size: 12px; color:#000000; text-decoration:none }
  	A.footer:visited { font-size: 12px; color:#666666; text-decoration:none }
  	A.footer:hover { font-size: 12px; color:#FF6600; text-decoration:none }
  
  	.copyright { font-size: 14px; color:#000000; padding-top: 4px }

/* Bullet */
.bullet01 {
   padding: 1px 2px 2px 15px;
   background-image: url(img/bullet01.gif);
   background-repeat: no-repeat;
   }

ul.bulletocc li { font-size: 12px; color: #FFFFFF; line-height: 130%; }
ul.bulletlite2 ,li { font-size: 12px; color: #000000; line-height: 120%; }


/* Layout */

#header {
  float:left;
  width:100%;
  background: #ffffff;
  font-size:85%;
  line-height:normal;
  }
#header ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
#header li {
  float:left;
  background:url("right.gif") no-repeat right top;
  margin:0;
  padding:0 5px 0 0;
  }
#header a {
  float:left;
  display:block;
  background:url("left.gif") no-repeat left top;
  padding:5px 7px 4px 20px;
  text-decoration:none;
  font-weight:bold;
  color:#9cf;
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#header a {float:none;}
/* End IE5-Mac hack */
#header a:hover {
  color:#fff;
  }
#header #current {
  background-image:url("right_on.gif");
  }
#header #current a {
  background-image:url("left_on.gif");
  color:#333;
  padding-bottom:5px;
  }
